
.node rect {   
    stroke-width: 1px;   
    stroke:#DCDCDC;
    fill-opacity: 1.0;
}


.banner  {
    stroke-width: 0px;
}

.nodehr {
    margin: 2px 5px 2px 5px;
    color:white;
    border-color:white;
    border-top: 0px;
    
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}



.link {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
}

.link-label {
    font-size: 8px;
}

.tree-node {
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px;
    margin-top:3px;
    margin-bottom:0px;
    margin-right: 2px;
    margin-left: 2px;
    text-align: left;
    color: #505050;
    line-height: 1.0;
}



body {
   padding: 0; 
   margin: 0    
   height: 100%;
}
 
.tooltip  {
    opacity: 0;
    max-width: 500px;
    position: absolute;			
    text-align: left;			
    word-wrap: break-word;			
    padding: 2px;				
    font-size: 12px;
    font-family: monospace;
    background:lightgoldenrodyellow;	
    border: 1px solid goldenrod;
    border-radius: 8px;			
    pointer-events: none;	
    z-index: 5
}

.tooltip table {
  border-collapse: collapse;
  white-space: pre-wrap;
  font-size: 1em;
}
.tooltip table > tr > * {
  border: 1px solid goldenrod;
}
.tooltip table > tr:first-child > * {
  border-top: 0;
}
.tooltip table > tr > *:first-child {
  border-left: 0;
}
.tooltip table > tr:last-child > * {
  border-bottom: 0;
}
.tooltip table > * > td:last-child {
  border-right: 0;
}

pre {
  white-space: pre-wrap;
  font-size: .80em;
}


table.plantable {
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 1px;
  border-color: steelblue;
  border-style: solid;
  color: #000000;
}

table.plantable td, table.plantable th {
  border-width: 1px;
  border-color: steelblue;
  border-style: solid;
  padding: 5px;
}

table.plantable thead {
  background-color: whitesmoke;
}



table.criteria td, table.criteria th {
  padding: 5px;
}  

.full-height {
  height: 100%;
}

.qv-tabs {
  height: 34px;
}
.qv-banner {
  height: 100%;
}

.qv-vertical-center {
  margin: 0;
  position: absolute;
  top: 70px;

}

#message {
  float: right;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40%;
  height: 34px;
}


#viewer {
  overflow: auto;
  max-width: 100%; 
  height: 100%;
}

#wrapper {
width: 100%; 
margin: 0; 
background: #F8F8F8;
}

