body {
   padding: 0; 
   margin: 0;
   height: 100%;
   font-family: sans-serif;
}
 
/********************************************************************************/
/* Log Timeline */

#message {
  float: right;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40%;
  height: 34px;
}

#viewer {
  overflow: auto;
  max-width: 100%;
  height: 100%;
}

#wrapper {
width: 100%;
margin: 0;
background: #F8F8F8;
}

.full-height {
  height: 100%;
}

/********************************************************************************/
/* Links */

.link {
    fill: none;
    stroke: gray;
    stroke-width: 1px;
}

.link-label {
    font-size: 8px;
}

/********************************************************************************/
/* Nodes */

.node {
    font-size: 4pt;
}

.node > rect {
    stroke-width: 1px;
    fill-opacity: 1.0;
}

.node > rect {
    stroke:#DDDDDD;
    fill: #FFFFFF;
}


.node-title {
    padding: 4px;
    margin-top:0px;
    margin-bottom:0px;
    margin-right: 2px;
    margin-left: 2px;
    text-align: center;
    color: #202020;
    font-size: 8pt;
    font-weight: bold;
}

.node-table {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 4pt;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    line-height: 1.1;
    color: #505050;
    text-align: left;
}

.node-outer-table {
    margin-left: 2px;
    margin-right: 2px;
}

.node-table td,th {
    padding: 1px;
}

table.node-table {
  border-collapse: collapse;
}

table.node-outer-table {
    border: 0;
    padding: 1px;
}
table.node-outer-table > tr > th {
    border-right: 1px solid #DCDCDC;
}
table.node-outer-table > tr > td:last-child {
    width: 100%;
}

table.node-inner-table > tr > * {
    border: 1px solid #DCDCDC;
    padding: 0;
}
table.node-inner-table > tr:first-child > * {
    border-top: 0;
    padding-top: 1px;
}
table.node-inner-table > tr > *:first-child {
    border-left: 0;
    padding-left: 1px;
}
table.node-inner-table > tr:last-child > * {
  border-bottom: 0;
  padding-bottom: 1px;
}
table.node-inner-table > * > td:last-child {
  border-right: 0;
  padding-right: 1px;
}

/********************************************************************************/
/* Tooltip */

.qvtooltip  {
    opacity: 0;
    max-width: 500px;
    position: absolute;			
    text-align: left;			
    word-wrap: break-word;					
    font-size: 12px;
    font-family: monospace;
    background:white;	
    border-radius: 10px;		
    pointer-events: none;	
    z-index: 1000;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.qvtooltip-main  {
  border-radius: 10px;		
  border-collapse: collapse;
  white-space: pre-wrap;
  font-size: 1em;
}
.qvtooltip-main  tbody>  tr > * {
  border-bottom: 1px solid #B0B0B0;
  text-align: right;
  margin: 0px;
  padding: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.qvtooltip-main  tbody>tr:first-child > *:first-child  {
  border-top-left-radius: 10px;
}
.qvtooltip-main  tbody>tr:last-child > *:first-child {
  border-bottom: 0px;
  border-bottom-left-radius: 10px;
}
.qvtooltip-main  tbody>tr > th {
  background: #F0F0F0;	
  padding: 5px;
  text-align: left;
}

.qvtooltip-main tbody > tr:last-child > * {
  border-bottom: 0px;
}

.qvtooltip-inner  {
  white-space: pre-wrap;
  font-size: 1em;
  padding: 0px;
  border-spacing: 0px;
}

.qvtooltip-inner  tbody> tr > *:first-child {
  border-right: 1px solid #B0B0B0;
  background:white;	
  text-align: left;
}


.qvtooltip-inner tbody > tr > *:last-child  {
  
  background:white;	
  text-align: right;
  width:100%

}

.qvtooltip-inner  tr > * {
  border-bottom: 1px solid #B0B0B0;
  border-left: 0px;
}

.qvtooltip-inner tbody > tr:last-child  > *{
  border-bottom: 0;
}

